<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Payment System <%= @user.email %></h1>

    <p>
      You have successfully signed up to example.com,
      <%# # your username is: <%= @user.login %>
      <br> 
    </p>
    <p> Your total bill is <%= @total%></p>
  </body>
</html>
