<p>Hello</p>
<% @plan.each do |plan|%>
<br>
<strong>name</strong>
<%= plan.name %>

<br>

<%= plan.monthly_fee%>
<%= link_to "Features", plan_features_url(plan.id), method: :get  %>

<%end%>


<%= button_to "logout", destroy_user_session_path, method: :delete  %>
