




    <%# <li>50GB Disk Space <i class="fa fa-check"></i></li>
    <li>50 Email Accounts <i class="fa fa-check"></i></li>
    <li>50GB Monthly Bandwidth <i class="fa fa-check"></i></li>
    <li>10 subdomains <i class="fa fa-check"></i></li>
    <li>15 Domains <i class="fa fa-times"></i></li> %>

    <li><%= feature.name %> <i class="fa fa-check"></i></li>

