<p>Features of Plan</p>
<%if policy(@feature).edit?%>
<%= link_to "ADD New Feature", new_plan_feature_url %>
<%end%>
<br>
<ul>
<% @feature.each do |f|%>
  <li><%= f.name%></li>
  <%if policy(@feature).edit?%>

    <%= link_to f, method: :delete, data: {confirm: "Are you sure you want to delete this Project?"}, remote:true do %>
    Delete
    <% end %>

    <%= link_to 'Edit', edit_feature_path(f) %>
  <%else%>
    <br>
   <% end %>

<%end%>
<ul>
